@page
@model Empresa.Proyecto.Web.Pages.Formularios.NewEntityModel
@{
    ViewData["Title"] = "Formulario NewEntity";
    var culture = System.Globalization.CultureInfo.CurrentCulture.ToString();
}

@using Empresa.Proyecto.Core.Entities;

<h1>@ViewData["Title"]</h1>

<div>
    <form method="post">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombreInput" name="nombre" aria-describedby="nombre" placeholder="Ingresa el nombre..." required>
        </div>
        <div class="form-group mt-4 mb-4">
            <label for="idOpcion">Opción</label>
            <select class="custom-select" name="idOpcion" asp-items="Model.Options"></select>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>


